/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/

#AppContent {
	border: solid !important;
	padding: 5px !important;
	background-color: #000 !important;
}

#urlbar-input-container {
	padding-right: 60px !important; }

#PlacesChevron {
	max-height: 10px !important;
}

.urlbar-history-dropmarker, .urlbar-history-dropmarker:hover { -moz-box-ordinal-group: 99 !important; 
	margin-right: 0px;
	opacity: 0 !important;
}

/* identity box */
#identity-box {
	padding-inline-start: 4px !important;
}

/* adjust icons for compact mode */
#main-window[uidensity="compact"] .urlbar-icon {
	width: 22px !important;
	height: 22px !important;
	padding: 3px !important;
}
