/* Firefox Quantum userChrome.css tweaks ************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/
:root {
	--statusbar_background_color: grey;
	--statusbar_font_color: black;
}

:-moz-any(statuspanel,#statuspanel) {
	-moz-appearance: none !important;
	background-color: unset !important;
	width: unset !important;
	border: 0 !important;
}

#browser-bottombox {
	height: 20px;
	border: 0px solid transparent !important;
	border-right: 1px solid transparent !important;
	background-color: rgba(221,227,235,1) !important;
	border-top: 1px solid black !important;
	/*box-shadow: 0 2px #c0c0c0 inset, 1px 3px #505050 inset, -1px -1px #fff inset !important;*/
}
#statuspanel {
	height: 18px !important;
	left: 0px !important;
	width: 100% !important;
	bottom: 1px !important;
	padding-left: 3px !important;
	padding-top: 1px !important;
	padding-bottom: 2px !important;
	transition-duration: 0s !important;
	transition-delay: 0s !important;
	transition-property: none !important;
	/*box-shadow: 1px 1px #505050 inset, -1px -1px #fff inset !important;*/

}
#statuspanel-inner {
	font-size: 9pt !important;
	height: 14px !important;
}
#statuspanel-label {
	border: none !important;
	padding: 0px !important;
	background: transparent !important;
}

.browserContainer > findbar {
	background-color: rgba(221,227,235,1) !important;
	border-top: 1px solid black !important;
}

.findbar-closebutton {
	background: linear-gradient(180deg, rgba(173,200,227,1) 0%, rgba(173,200,227,1) 50%, rgba(86,127,168,1) 50%, rgba(105,144,183,1) 100%) !important;
	fill: #fff !important;
	border-radius: 3px !important;
	border: solid 1px #405a6d !important;
}
