/* remove default tab colors */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab, .tab-content {
	border: unset !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] {
	/*border: 1px solid #505050 !important;*/
	border-bottom: none !important;
	padding: 0 !important;
	margin-top: 2px !important;
	margin-left: 0 !important;
	margin-right: 0px !important;
	min-width: 175px !important;
	padding-top: 1px !important;
	padding-right: 0px !important;
	padding-left: 2px !important;
	padding-bottom: 0 !important;
	/*border: 2 2 0 2 !important;*/
	background-color: #626d70 !important;
	margin-right: -1px;
	margin-left: 0 !important;
	max-height: 25px !important;
}

.tab-content {
	padding: 0px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	border: unset !important;
	color: #a6bcb7 !important;
	background-color: #76868b !important;
}

.tab-content[selected="true"] {
	color: #000 !important;
	background-color: #b3bfca !important;
}

#tabs-newtab-button {
	background-image: url('image/newtab.png') !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	max-height: 26px !important;
}

spacer[part=overflow-start-indicator], 
spacer[part=overflow-end-indicator] {
	display: none !important;
}

.tab-icon-image {
	margin-top: -1px !important;
	margin-left: -2px !important;
	margin-right: 3px !important;
}
