#nav-bar:not(:-moz-lwtheme) {
	margin-top: 1px !important;
	padding: 1px !important;
	background: linear-gradient(0deg, rgba(177,189,201,1) 0%, rgba(221,227,235,1) 100%) !important;
	padding-top: 2px !important;
	border-top: 1px solid #eef0f3 !important;
	border-bottom: 1px solid #86929e !important;
}

toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar):not(:-moz-lwtheme) {
	-moz-appearance: none !important;
	margin-bottom: -4px !important;
	background: linear-gradient(0deg, rgba(221,227,235,1) 0%, rgba(177,189,201,1) 100%) !important;
	padding: 1px !important;
	border-top: 1px solid #eef0f3 !important;
	border-bottom: 1px solid #86929e !important;
}

#main-window[uidensity="compact"] toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar):not(:-moz-lwtheme) {
	margin-bottom: 0px !important;
}

#toolbar-menubar {
	-moz-appearance: none !important;
	background-color: rgba(221,227,235,1) !important;
	padding: 0px !important;
	padding-left: 2px !important;
}

#main-window[tabsintitlebar="true"] #toolbar-menubar {
	border: none !important;
	height: 100% !important;
	background-image: linear-gradient(to right, #000060,#A1C4E9) !important;
} 

#main-window[tabsintitlebar="true"] #toolbar-menubar .menubar-text {
	color: #fff !important;
}

#TabsToolbar .titlebar-buttonbox-container {
	visibility: collapse !important;
}

#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
	-moz-box-ordinal-group:10;
}

#TabsToolbar {
	-moz-box-ordinal-group:1000!important;
}

#TabsToolbar {
	display: block !important;
	position: fixed !important;
	width: 100vw !important;
	-moz-appearance: none !important;
	background: linear-gradient(180deg, rgba(98,109,112,1) 0%, rgba(142,157,161,1) 25%);
	padding: 0px !important;
	padding-left: 2px !important;
	min-height: 27px !important;
	max-height: 27px !important;
}

#TabsToolbar {
	top: var(--uc-titlebar-padding, 97px);
}

/* No menubar/bookmarks - var(--uc-titlebar-padding,74px) */
/* No bars - var(--uc-titlebar-padding,50px) */

#tabbrowser-tabs {
	width: 100vw !important;
}

#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
	padding-bottom: var(--tab-min-height) !important;
}
