@import "hacks/tabs_on_bottom.css";
@import "hacks/tabs_on_bottom_menubar_on_top_patch.css";

/* Hacks overrides*/
#navigator-toolbox {
    padding-top: calc(23px + var(--uc-titlebar-padding,0px)) !important;
}

#toolbar-menubar {
    height: 23px !important;
}
/* ! Hacks overrides*/


#nav-bar {
	margin-top: 1px !important;
	padding: 1px !important;
	background: linear-gradient(0deg, rgba(177,189,201,1) 0%, rgba(221,227,235,1) 100%) !important;
	padding-top: 2px !important;
	border-top: 1px solid #eef0f3 !important;
	border-bottom: 1px solid #86929e !important;
}

toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar) {
	-moz-appearance: none !important;
	margin-bottom: -4px !important;
	background: linear-gradient(0deg, rgba(221,227,235,1) 0%, rgba(177,189,201,1) 100%) !important;
	padding: 1px !important;
	border-top: 1px solid #eef0f3 !important;
	border-bottom: 1px solid #86929e !important;
}

#main-window[uidensity="compact"] toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar) {
	margin-bottom: 0px !important;
}

#toolbar-menubar {
	-moz-appearance: none !important;
	background-color: rgba(221,227,235,1) !important;
	padding: 0px !important;
	padding-left: 2px !important;
}

#main-window[tabsintitlebar="true"] #toolbar-menubar {
	border: none !important;
	background-image: linear-gradient(to right, #000060,#A1C4E9) !important;
} 

#main-window[tabsintitlebar="true"] #toolbar-menubar .menubar-text {
	color: #fff !important;
}

#TabsToolbar .titlebar-buttonbox-container {
	visibility: collapse !important;
}


#TabsToolbar {
	-moz-appearance: none !important;
	background: linear-gradient(180deg, rgba(98,109,112,1) 0%, rgba(142,157,161,1) 25%);
	padding: 0px !important;
	padding-left: 2px !important;
	min-height: 27px !important;
	max-height: 27px !important;
}


#tabbrowser-tabs {
	width: 100vw !important;
}

:root:not([lwtheme-image]) .browserContainer > findbar:-moz-lwtheme {
	background-color: rgba(221,227,235,1) !important;
	background-image: none !important;
}

#PersonalToolbar .bookmark-item,
#PersonalToolbar .toolbarbutton-1 {
	border: 1px outset transparent;
	border-radius: unset !important;
	--toolbarbutton-hover-background: none;
	--toolbarbutton-active-background: none;
}

#PersonalToolbar .bookmark-item:hover,
#PersonalToolbar .toolbarbutton-1:hover {
	border: 1px outset rgb(221, 227, 235);
}

#main-menubar {
	border: 0px;
	padding: 0px;
	margin: 0px;
	-moz-appearance: none;
}

menubar > menu {
	border: 1px solid transparent;
}

menubar > menu:hover:not([open="true"]):not([disabled="true"]),
menubar > menu[_moz-menuactive="true"]:not([disabled="true"]) {
    border: 1px outset rgb(221, 227, 235);
	--toolbarbutton-hover-background: none;
	--toolbarbutton-active-background: none;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"] {
	background-color: transparent !important;
}

.menubar-text {
	color: black;
}
