#nav-bar:not(:-moz-lwtheme) {
	margin-top: 1px !important;
	padding: 1px !important;
	background: linear-gradient(0deg, rgba(177,189,201,1) 0%, rgba(221,227,235,1) 100%) !important;
	padding-top: 2px !important;
	border-top: 1px solid #eef0f3 !important;
	border-bottom: 1px solid #86929e !important;
	/*border: 2px solid !important;
	border-top: 2px solid !important;
	border-left: 7px solid !important;
	border-image: url("image/toolbar_handle_top.png") !important;
	border-image-slice: 2 2 2 7 !important;*/
}

toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar):not(:-moz-lwtheme) {
	-moz-appearance: none !important;
	margin-bottom: -4px !important;
	background: linear-gradient(0deg, rgba(221,227,235,1) 0%, rgba(177,189,201,1) 100%) !important;
	padding: 1px !important;
	border-top: 1px solid #eef0f3 !important;
	border-bottom: 1px solid #86929e !important;
	/*border: 2px solid !important;
	border-left: 7px solid !important;
	border-top: 0px !important;
	border-image: url("image/toolbar_handle.png") !important;
	border-image-slice: 2 2 2 7 !important;*/
}

#main-window[uidensity="compact"] toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar):not(:-moz-lwtheme) {
	margin-bottom: 0px !important;
}

#toolbar-menubar {
	-moz-appearance: none !important;
	background-color: rgba(221,227,235,1) !important;
	padding: 0px !important;
	padding-left: 2px !important;
	/*border: 2px solid !important;
	border-left: 7px solid !important;
	border-right: 43px solid !important;
	border-bottom: 0px !important;
	border-image: url("image/menu_bar_handle.png") !important;
	border-image-slice: 2 43 2 7 !important;*/
}

#main-window[tabsintitlebar="true"] #toolbar-menubar {
	border: none !important;
	height: 100% !important;
	background-image: linear-gradient(to right, #000060,#A1C4E9) !important;
} 

#main-window[tabsintitlebar="true"] #toolbar-menubar .menubar-text {
	color: #fff !important;
}

#TabsToolbar .titlebar-buttonbox-container {
	visibility: collapse !important;
}

#browser {
	border: solid !important;
	padding: 0px !important;
	margin-top: -1px !important;
	border-width: 2px 2px 2px 2px !important;
	border-image: url("image/combobox.png") !important;
	border-image-slice: 2 2 2 2 !important; 
}

#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
	-moz-box-ordinal-group:10;
}

#TabsToolbar {
	-moz-box-ordinal-group:1000!important;
}

#TabsToolbar {
	display: block !important;
	position: absolute !important;
	bottom: 2px !important;
	width: 100vw !important;
	-moz-appearance: none !important;
	background: linear-gradient(180deg, rgba(98,109,112,1) 0%, rgba(142,157,161,1) 25%);
	/*background-image: url("image/bottom.png") !important;*/
	/*border: 2px solid !important;
	border-left: 7px solid !important;
	border-top: 0px !important;
	border-image: url("image/toolbar_handle.png") !important;
	border-image-slice: 2 2 2 7 !important;*/
	padding: 0px !important;
	padding-left: 2px !important;
	min-height: 27px !important;
	max-height: 27px !important;
}

#tabbrowser-tabs {
	width: 100vw !important;
}

#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
	padding-bottom: var(--tab-min-height) !important;
}
