/* Disable Megabar Animation */

#urlbar > #urlbar-background {
	margin: 0px !important;
	animation: none !important;
	background-image: url("image/dropdown.svg#dropdown") !important;
	background-repeat: no-repeat !important;
	padding: 0px !important; 
	background-position: right center !important; 
	box-shadow: none !important;
	background-color: @base_color !important;
	border: solid 1px #5d616e !important;
	border-radius: 0 !important;
	min-height: 25px !important;
	height: 25px !important;
}

#search-container {
	margin-top: -2px !important;
}

#urlbar-container {
	margin-top: 2px !important;
}

#searchbar {
	margin: 0px !important;
	animation: none !important;
	padding: 0px !important; 
	box-shadow: none !important;
	background-color: @base_color !important;
	border: solid 1px #5d616e !important;
	border-radius: 0 !important;
	min-height: 25px !important;
	height: 25px !important;
}

.searchbar-search-button {
	background: linear-gradient(180deg, rgb(221, 227, 235) 0%, rgb(177, 189, 201) 100%);
	border-right: 1px solid #5d616e;
	margin-right: 5px;
	margin-left: -2px;
}

#navigator-toolbox {
	background-color: #b3bfca !important;
}

#page-action-buttons {
	margin-right: 17px !important;
}

#urlbar,
#urlbar[breakout][breakout-extend][breakout-extend-animate] {
	margin-top: -3px !important;
	padding-left: 3px !important; }

#main-window[uidensity="compact"] #urlbar,
#main-window[uidensity="compact"] #urlbar[breakout][breakout-extend][breakout-extend-animate] {
	margin-top: -5px !important;
	padding-left: 3px !important; }

#urlbar[breakout-extend] {
	top:calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	left:calc((var(--urlbar-toolbar-width) - var(--urlbar-width)) / 2) !important;
	width:100% !important }

#urlbar[breakout-extend] #urlbar-input-container {
	height:calc(var(--tab-min-height) - 3px) !important;
	padding:0px!important }

#main-window:not([uidensity="compact"]) #urlbar #urlbar-input-container,
#main-window:not([uidensity="compact"]) #urlbar[breakout-extend] #urlbar-input-container {
	margin-top: -2px !important;
}

/* Reduce row paddings to make them more compact */
.urlbarView-row {
	padding: 0px !important;
}

.urlbarView{
	margin-left:-2px!important;
	width:100%!important;
	background-color: #ffffff !important;
	border: 1px solid #000 !important;
	border-top: none !important;
}

/* identity box */
#identity-box {
	padding-inline-start: 4px !important;
}
