@import "icons.css";
@import "tabs.css";
@import "statusbar.css";
@import "toolbars.css";
@import "identitybox.css"; 
@import "urlbar.css"; 

#main-window {
	background-color: #dde3eb !important;
	color: #000 !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
	width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
	height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

@media (-moz-proton) {
	:root {
		--tab-min-height: 28px !important;
		--proton-tab-block-margin: 0px !important;
	}

	#urlbar-input-container {
		height: 26px !important;
		padding-top: 4px !important;
	}

	.tab-close-button {
		height: auto !important;
	}

	.tabbrowser-tab {
		min-height: inherit !important;
	}

	.urlbar-page-action,
	.urlbar-page-action image {
		padding: 0 !important;
	}
}
