@import "icons.css";
@import "tabs.css";
@import "statusbar.css";
@import "toolbars.css";
@import "identitybox.css"; 
@import "urlbar.css"; 

#main-window {
   background-color: #dde3eb !important;
   color: #000 !important;
}

