@import "icons.css";
@import "tabs.css";
@import "statusbar.css";
@import "toolbars.css";
@import "identitybox.css"; 
@import "urlbar.css"; 

#main-window {
	background-color: #dde3eb !important;
	color: #000 !important;
}

@media (-moz-proton) {
	:root {
		--tab-min-height: 28px !important;
		--proton-tab-block-margin: 0px !important;
	}

	#urlbar-input-container {
		height: 26px;
		padding-top: 4px;
	}
}
